@import "../../../styles/vars";

#products {
  background-color: $red;
  display: flex;
  flex-direction: column;

  .cat-bar {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    position: sticky;
    top: 69px;

    span {
      margin: 0 9px;
      text-transform: uppercase;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        background-color: $white;
        width: 0;
        height: 1px;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 0;
        transition: width .3s ease;
      }

      &.active {

        &:after {
          width: 50%;
          transition: width .3s ease;
        }
      }
    }
  }

  .product-list {
    padding: 60px 0;

    .ant-col {
      margin-bottom: 18px;
    }
  }
}

.product {
  background: #FFF;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  .product-details {
    padding: 18px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .product-name {
      font-family: $fontHeading;
      text-transform: uppercase;
      font-size: 18px;
      text-align: center;
      line-height: 1.1;
    }
  }
}