@import "../../../styles/vars";

#products {
  background-color: $red;
  display: flex;
  flex-direction: column;

  .cat-bar {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    position: sticky;
    top: 69px;

    span {
      margin: 0 9px;
      text-transform: uppercase;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        background-color: $white;
        width: 0;
        height: 1px;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 0;
        transition: width .3s ease;
      }

      &.active {

        &:after {
          width: 50%;
          transition: width .3s ease;
        }
      }
    }
  }

  .product-list {
    padding: 60px 0;
  }
}