@import "../../../styles/vars";

#header-wrapper {
  background-color: $purple;
  padding: 12px 0;
  position: absolute;
  width: 100%;
  z-index: 5000;

  &.sticky {
    position: fixed;
    top: -100px;
    transition: top .3s ease;

    &.stickyTop {
      top: 0;
      transition: top .5s ease;
    }
  }

  #logo {

    img {
      max-width: 45px;
    }
  }

  #menu {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;

    li {

      &:not(:last-child) {
        margin-right: 24px;
      }

      a {
        color: $white;
        font-family: $fontHeading;
        text-transform: uppercase;
        letter-spacing: 3px;
      }
    }
  }

  .header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;

    .cart {
      margin-left: 15px;
      color: #FFF;
      cursor: pointer;
      
      .anticon {
        font-size: 24px;
      }
    }
  }
}