$fontHeading: 'Alata', sans-serif;
$fontNormal: 'Muli', sans-serif;

$purple: #40407a;
$purpleDark: #2c2c54;
$red: #ff5252;
$redDark: #b33939;
$yellow: #ffda79;
$white: #fff;
$whiteWarm: #f7f1e3;
$green: #33d9b2;
$greenDark: #218c74;